<script lang="ts">
	import { onMount } from 'svelte';
	import Fa from 'svelte-fa';

	export let menus: [any];
	let navbar: HTMLElement;


	/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
	function myFunction() {
		const liElements = document.querySelectorAll('.item-menu');
		const isHidden = liElements[0].classList.contains('hidden');

		if (isHidden) {
			liElements.forEach((li) => {
				li.classList.remove('hidden');
			});
		} else {
			hideMenuItems();
		}
	}


	function hideMenuItems() {
		const liElements = document.querySelectorAll('.item-menu');
		liElements.forEach((li) => {
			li.classList.add('hidden');
		});
	}


	onMount(() => {
		function handleDocumentClick(event: Event) {
			// Vérifiez si le clic n'a pas été fait sur le menu ou sur l'icône hamburger
			if (!navbar.contains(event.target as Node) && !document.querySelector('.icon')!.contains(event.target as Node)) {
				hideMenuItems(); // Cacher les éléments du menu
			}
    	}

		document.addEventListener('click', handleDocumentClick);

		let prevScrollpos = window.pageYOffset;
		window.onscroll = function () {
			// Partie navbar
			var currentScrollPos = window.pageYOffset;

			if (prevScrollpos > currentScrollPos) {
				navbar.classList.remove('hidden');
			} else {
				navbar.classList.add('hidden');
				navbar.classList.add('visible');
			}
			prevScrollpos = currentScrollPos;
		};
	});
</script>

<nav bind:this={navbar} id="topnav" class="topnav responsive">
	<ul>
		<li class="home item-home">
			<a href="/" class="active">Accueil</a>
		</li>

		{#each menus as menu}
			<li class="item-menu hidden">
				<a href={menu.url} aria-label={menu.label} on:click={myFunction} style="width:100%;height:100%">
					<span class="menu">
						<span class="menu-icon">
							<Fa icon={menu.icon} size="2x" />
						</span>
						<span class="menu-label">{menu.label}</span>
					</span>
				</a>
			</li>
		{/each}
		<li class="item-icon">
			<!-- svelte-ignore a11y-invalid-attribute -->
			<a href="javascript:void(0);" class="icon" on:click={myFunction}>
				<!-- svelte-ignore a11y-missing-attribute -->
				<i class="fa fa-bars" />
			</a>
		</li>
	</ul>
</nav>

<style lang="scss">
	ul {
		li:hover:first-child {
			background: #336699;
		}

		li:hover {
			background: #c50e0eb0;
		}

		.menu {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 0.5rem;
			align-items: center;
		}

		li {
			a {
				text-decoration: none;
				font-weight: bold;
				color: azure;
				font-size: 13px;
			}

			transition: 0.3s;

			vertical-align: middle;
		}
	}

	/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	@media screen and (max-width: 600px) {
		ul {
			width: 100%;
			// height: 42px;
			margin-block: 0;
			padding-inline-start: 0;
			padding-inline-end: 0;
			display: flex;
			gap: 0.5rem;
			flex-wrap: wrap;
			flex-direction: row;
			align-content: center;
			justify-content: space-around;
			background: #000000;
			opacity: 1;
			transition: opacity 0.5s ease-in-out;

			.menu {
				justify-content: flex-start;
			}

			li a {
				padding: inherit; // Hériter du padding de <li>
			}

			li {
				width: 100%;
				a {
					padding: 1.5rem;
				}
				
			}
			li.item-menu {
				display: flex;
				a {
					width: 100%;
				}
			}

			li.item-menu.hidden {
				display: none;
			}
		}

		.item-home {
			display: inline-flex;
		}

		.item-icon {
			display: inline-flex;
			width: 64px;
			flex-wrap: wrap;
			flex-direction: column;
			align-content: space-around;
			justify-content: space-around;
			position: absolute;
			right: 0;
		}
	}

	/* La classe "responsive" est ajoutée au topnav avec JavaScript lorsque l'utilisateur clique sur l'icône.  */
	@media screen and (min-width: 600px) {
		.item-icon, .item-home {
			display: none;
		}

		/* Styles spécifiques pour le nav dans le header */
		ul {
			width: 100%;
			height: 42px;
			margin-block: 0;
			padding-inline-start: 0;
			padding-inline-end: 0;
			display: table;
			table-layout: fixed;
			gap: 0.5rem;
			flex-wrap: wrap;
			flex-direction: row;
			align-content: center;
			justify-content: space-around;
			background: #000000;
			opacity: 1;
			transition: opacity 0.5s ease-in-out;

			.menu {
				display: flex;
				flex-direction: row;
				justify-content: center;
				gap: 0.2rem;

				align-items: center;
			}

			li {
				a {
					text-decoration: none;
					font-weight: bold;
					color: azure;
					font-size: 13px;
				}
				transition: 0.3s;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
	}
</style>
